extends layout

block content
  h1.signup-sign Sign up
  if (errors)
    each error in errors
      div.alert.alert-danger= error.msg
  form(method="POST" action="").mt-1
    div.form-group
      label(for="username") Username
      input(type="text", name="username", required).form-control
      small.text-muted Must be at least 3 characters long
    div.form-group
      label(for="password") Password
      input(type="password", name="password", required).form-control
      small.text-muted Must be at least 3 characters long
    div.form-group
      label(for="confirm") Confirm Password
      input(type="password", name="passwordConfirmation", required).form-control
    button(type="submit").btn.btn-primary Submit